<!DOCTYPE HTML>
<html>
<head>
<title>Quiz Hat</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="css/flash.css"type="text/css"rel="stylesheet">
</head>
<body>

	<div class="row">

		<div class="col-xs-1 logoBox">
			<div class="logoTitle">
				<img src="images/logo.png"class="logo">
				<p class="title">Flash Maker</p>

			</div>
			<div class="optionContainer"id="create">
				<p class="option glyphicon glyphicon-plus">Create</p>
			</div>
			<div class="optionContainer"id="delete">
				<p class="option glyphicon glyphicon-minus">Delete</p>
			</div>
			
			<div class="optionContainer"id="changeF">
				<p class="option glyphicon glyphicon-link">Style</p>
			</div>
			<div class="optionContainer"id="settings">
				<p class="option glyphicon glyphicon-cog">Settings</p>
			</div>
		</div>

		<div class="col-xs-11 flashContainer">

			<button class="btn btn-danger clicks log"style="float:right"id="logout">Logout</button>
			<h2 class="titles">Welcome back Marco</h2>
			<hr style="color:#e6e6e6">
			<div class="flashcardContainer">
				<div class="flashcards">
					<div class="border"></div>
					<br>
					<h4>{{exam1}}</h4>
					<p style='text-align:center'>Test your knowledge on the kings of the ocean</p>
					<br>
					<a href="/flashcard"><button class="btn btn-info clicks">Use Flashcard</button></a>
					<button class="btn btn-danger clicks">Edit Flashcard</button>
			</div>
		</div>
	
	<div style="width:40%;height:40%">
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
//test for menu and creation of flashcardw
var i=0;
$(".logoBox").on("click",function(){
	$(".logoBox").animate({height:"+400px"});
	$(".optionContainer").animate({opacity:1});
});



$("#create").on("click",function(){

flashConstruct();

				i++;
});
function quizConstruct(){
	
	
	
}
function flashConstruct(){
	
var flashcardContainer = $("<div>").addClass("flashcards flashcard"+i).appendTo(".flashcardContainer");
var border = $("<div>").addClass("border").appendTo(".flashcard"+i);
var title = $("<h4>").appendTo(".flashcard"+i).addClass("title"+i).text("Topic");
var detail = $("<p>").attr("text-align","center").appendTo(".flashcard"+i).addClass("detail"+i).text("Description");
var link = $("<a>").addClass("flashlink"+i);
link.attr("href","/flashcard"+i).appendTo(".flashcard"+i);
var use = $("<button>").addClass("clicks btn btn-info log use"+i).text("Use Card").appendTo(".flashlink"+i);
}

</script>
</html>