<!DOCTYPE HTML>
<html>
<head>
<title>Quiz Hat</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="css/flash2.css"type="text/css"rel="stylesheet">
</head>
<body style="background:#404040">

<form method="POST"action="/test"style="margin-left:25%;background:#e6e6e6;width:50%;margin-top:10%;">
<br>
<br>
<input name="title"placeholder=" title">
<br><br>
<input name="description"placeholder=" description">
<br>
<br>
<input name="question"placeholder=" question">
<br>
<br>
<input name="answer"placeholder="answer">
<br>
<br>
<button type="submit">Submit</button>

</form>
<button class="add">add</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(".add").on("click",function(){
	var i = 1;
	var input = $("<input>").attr("name","question"+i).appendTo("form").attr("placeholder"," question");
	var answer = $("<input>").attr("name","answer"+i).appendTo("form").attr("placeholder"," answer");
	
});
</script>
</html>